doctype html
html
  include ./includes/head.jade
  body
    include ./includes/analytics.jade
    .main-wrap
        include ./includes/menu.jade
        .content-wrap
            .main-content
                include ./includes/pages/main.jade
                include ./includes/pages/result.jade
                include ./includes/pages/product.jade
                include ./includes/pages/form.jade
            include ./includes/footer.jade


