.slide-form.page-slide
    .content-header
        h2 Smagu, kad pasidalinote savo ryžtu gyventi be dirbtinių kvapų.<br><span class="strong">Registruokitės ir galbūt Jums atiteks Neutral prizas:</span>

    .game-zone
        .registration-form
            .input-wrapper
                .input-label Vardas, pavardė
                input(name="name" type="text")
                .input-error Patikrinkite ar teisingi duomenys

            .input-wrapper
                .input-label El. pašto adresas
                input(name="email" type="text")
                .input-error Patikrinkite ar teisingi duomenys

        .success-message Ačiū, Jūsų registracija sėkminga! Jei laimėsite, su Jumis susisieksime nurodytu el.pašto adresu.

        .button-block
            .button.submit.dark Registruotis
                .text Registruotis
            .button.restart.light Pakartoti eksperimentą
                .text Pakartoti eksperimentą

        .product-block

        .result-sub-text <span class="upper blue">Neutral®</span> produktuose nėra jokių dirbtinių kvapų,<br>o tik tai, kas reikalinga.