.slide-main.page-slide.active
    .content-header.main.active
        h2 Atlikite kvapų <span class="strong">eksperimentą</span>
        .sub-text
            | <span class="strong">Rugsėjo 21-ąją minime Neutral dieną be dirbtinių kvapų.</span><br>
            | Šia proga kviečiame Jus atlikti eksperimentą ir sužinoti, kaip buityje atsiranda įvairūs<br>
            | sintetiniai kvapai. Pagalvokite, ar galėtumėte apsieiti be jų,<br>
            | <span class="strong blue">ir galbūt Jūs laimėsite Neutral prizus!</span><br>
    .content-header.restart
        h2 <span class="strong">Pabandykite</span> dar kartą!
        .sub-text
            | <span class="strong">Dirbtiniai kvapai, sintetinami iš naftos produktų, didina riziką tapti alergiškais,</span><br>
            | tad ar tikrai nenorite jų atsisakyti?<br>


    .game-zone

        .drop-zone
            .drop-area.dropped
                img
                .circle                        
                    .waves
                        

            .drop-area
                .circle
                    .text 
                        | Nutempkite <br>bet kurias <br>dvi molekules Čia


        .drop-item.drop-item-1(data-odor="flower")
            .item
            .hover.red
            .title Benzilo acetatas
        .drop-item.drop-item-2(data-odor="grape")
            .item
            .hover.yellow
            .title Metilo antranilatas
        .drop-item.drop-item-3(data-odor="almond")
            .item
            .hover.green
            .title Benzaldehidas
        .drop-item.drop-item-4(data-odor="pineapple")
            .item
            .hover.blue
            .title Etilo butiratas
