.slide-product.page-slide
    .content-header
        h2 Džiaugiamės, kad pasirinkote atsakingai!<br><span class="strong">Pasidalinkite savo ryžtu<br>gyventi be dirbtinių kvapų ir galbūt<br>Jums atiteks <span class="upper">Neutral®</span> produktų rinkinys!</span>

    .game-zone

        .product-block

        .result-sub-text <span class="upper blue">Neutral®</span> produktuose nėra jokių dirbtinių kvapų,<br>o tik tai, kas reikalinga.
        .button-block
            .button.share.dark Dalintis
                .text Dalintis
            .button.restart.light Pakartoti eksperimentą
                .text Pakartoti eksperimentą
