.slide-result.page-slide
    .content-header
        h2 Pakvipo <div class="result-text-1"></div> ir <div class="result-text-2"></div>!<br>Ar jaučiate? <span class="strong">Tačiau neapsirikite!<br>Tai – tik chemikalai.</span>

    .game-zone

        .odor-block
            .molecule-1.molecule
            .molecule-2.molecule

        .result-sub-text Ar galėtumėte namuose apsieiti be šio ir kitų dirbtinių kvapų,<br>kurie didina alergijos atsiradimo riziką?
        .button-block
            .button.agree.dark Galėčiau
                .text Galėčiau
            .button.disagree.light Galėčiau
                .text Nemanau


