footer
    .footer-block.info
        .row 
            .cell 
                a(href="") UAB „EugestA“ 
        .row 
            .cell Registruotos buveinės adresas Meistrų g. 10, LT-02189 Vilnius
            .cell Kibirkšties g. 8, 02242
        .row 
            .cell Įmonės kodas 121539735
            .cell Duomenys kaupiami ir saugomi Juridinių asmenų registre

    .footer-block.links
        a(href="") Privatumo politika
        a(href="") Slapukų politika
    .footer-block.copy
        a(href="") <span class="dark">AD FINGERS</span> INTERACTIVE AGENCY


script(src="lib/jquery-2.1.4.min.js", type="text/javascript")
script(src="lib/jquery-ui.min.js", type="text/javascript")
script(src="js/build/app.min.js" type="text/javascript")
