head
    title Neutral
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(property="og:url"                content="http://projects.comjaunuoliai.lt/neutral_bekvape/")
    meta(property="og:type"               content="website")
    meta(property="og:tag"                content="Diena be dirbtinių kvapų – su Neutral!")
    meta(property="og:title"              content="Neutral diena be dirbtinių kvapų!")
    meta(property="og:description"        content="Chemijos laboratorija virtuvėje ir vonios kambaryje man nereikalinga. Sužinok, ar be dirbtinių kvapų gali apsieiti ir Tu! ")
    meta(property="og:image"              content="http://projects.comjaunuoliai.lt/neutral_bekvape/img/fb_share.png")

    link(href="style.css", rel="stylesheet", type="text/css")
    include ./favicons.jade
