.menu-block
    .menu-header
        a(href="")

    .menu-content
        .menu-list
            ul
                li
                    a(href="" class="neutral-products") NEUTRAL® produktai
                li
                    a(href="" class="spec-advices") Specialistų patarimai
                li
                    a(href="") Testas

        .menu-share
            .share.fb
                a(href="https://www.facebook.com/Neutral.lt")